body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #ff00aa;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #fd024de8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}
button.action-btn {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}
.delete-btn{
    background-color: #10a818;
    color: #ddd;
}
.edit-btn{
    background-color: #f30000;
    color: #ddd;
}
.complete-btn {
    background-color: #006bf7;
    color: white;
    cursor: pointer;
}

li span {
    display: inline-block;
    margin: 0 5px;
}

li span:nth-child(odd) {
    color: #ff7b00;
}

li span:nth-child(even) {
    color: #33c3ff;
}
